{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Spares</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'shop/style.css' %}">
  <script src="{% static 'shop/script.js' %}" defer></script>
</head>
<body class="bg-gray-100 font-sans">

  

  <!-- Main Content -->
  <main class="main-content">

<div class="login-container">
    <h2>Login to Your Account</h2>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      
      <div class="input-group">
        <label for="username">Username or Email</label>
        <input type="text" id="username" name="username" required>
      </div>
  
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
  
      <div class="actions">
        <button type="submit" class="login-btn">Login</button>
       <a href="" class="forgot-password">Forgot password?</a>
      </div>
  
      <p class="signup-link">Don’t have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </form>
  </div>
  